<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="pw-todo-item">
  <template>
    <style>
      :host {
        display: block;
      }
      .container{
        border: solid 1px blue 
      }
    </style>
     <div class="container"> 
          <label id="label">[[textLabel]]</label>
     </div>
    </template>

  <script>
    /**
     * `pw-todo-item`
     * todo-item
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PwTodoItem extends Polymer.Element {
      static get is() { return 'pw-todo-item'; }
      static get properties() {
        return {
          textLabel: {
            type: String,
            value: 'pw-todo-item'
          }
        };
      }
    }

    window.customElements.define(PwTodoItem.is, PwTodoItem);
  </script>
</dom-module>
